*{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #F5F3F3;
}

strong{
    font-weight: bold;
}


header{
    background-color: #010D00;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1{
    font-size: 1.7em;
}

/* ---------------NAV----------------- */

nav{
    background-color: #010D00;
    text-align: center;
    
}

nav a {
    color:  white;

    padding: 20px;

    text-decoration: none;
    font-size: 1.2em;
}



nav a:hover{
    color: #BDE3F2;
}

/* ---------------MAIN----------------- */

main{
    background-color: #F5F3F3;
}

main h1{
    padding: 20px 0px 0px 20px;
    font-size: 1.5em;
}

main h2{
    font-size: 21px;
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    
}

main p{
    text-indent: 15px;
    text-align: justify;
    padding: 20px;
}

p#frase{
    padding-top: 0px;
}

/* ---------------Listas-------------- */

ul.lista{
    padding-left: 40px;
    text-align: justify;
}

ol.lista{
    padding-left: 40px;
}

li{
    padding-bottom: 10px;
}

/* ---------------main.two----------------- */

main.two{
    background-color: #F5F3F3;
    max-width: 100%;
    text-align: center;
}


main.two h1{
    font-size: 2em;
    padding: 30px 20px 40px 20px;
}

/* ---------------Cards-------------------- */

.card{
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  
  .col {
    display: flex;
  }
  
  .card {
    flex: 1;
  }

  .card-action{
    margin-top: auto;
  }
  
/* ---------------BOTÃO------------------ */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
}

/* ---------------FOOTER----------------- */

footer{
    background-color: #010D00;
    color: white;
    text-align: center;

    padding: 10px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #BDE3F2;
}